@page "/"
@namespace InteliSystem.VejaBem.Presentation.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Font & Icon -->
        <link rel="stylesheet" href="font/inter/inter.min.css">
        <link href="plugins/material-design-icons-iconfont/material-design-icons.min.css" rel="stylesheet">
        <!-- Plugins -->
        <!-- CSS plugins goes here -->
        <!-- Main Style -->
        <link rel="stylesheet" href="plugins/simplebar/simplebar.min.css">
        <link rel="stylesheet" href="css/style.min.css" id="main-css">
        <link rel="stylesheet" href="css/sidebar-gray.min.css" id="theme-css"> <!-- options: blue,cyan,dark,gray,green,pink,purple,red,royal,ash,crimson,namn,frost -->
        <title>Mimity Admin</title>
    </head>

    <body class="login-page">

        <app>
            <component type="typeof(AppLogin)" render-mode="ServerPrerendered" />
        </app>

    </body>

</html>